/*pc端*/
.pc {
  overflow: hidden;
}
.pc .erWei {
  position: fixed;
  width: 160px;
  right: 50px;
  bottom: 50px;
  z-index: 99;
}
.pc .section1 {
  width: 100vw;
  height: 100vh;
  background: url("../images/pc/bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.pc .section1 .icons {
  position: absolute;
  height: 188px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pc .section1 .icons a {
  display: inline-block;
  width: 150px;
  padding: 20px 0px;
  text-align: center;
}
.pc .section1 .icons .icon1 img {
  height: 90px;
}
.pc .section1 .icons .icon1:hover {
  border-top: 1px solid #fff;
}
.pc .section1 .icons .icon2 {
  border-top: 1px solid #fff;
}
.pc .section1 .icons .icon2 img {
  height: 90px;
}
.pc .section1 .icons .icon3 img {
  height: 90px;
}
.pc .section1 .icons .icon3:hover {
  border-top: 1px solid #fff;
}
.pc .section2 {
  width: 100vw;
  height: 100vh;
  background: url("../images/pc/bg2.png") no-repeat center 40%;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
.pc .section2 .pic1 {
  position: absolute;
  width: 560px;
  right: 50%;
  top: 150px;
  animation: down 2s linear;
}
.pc .section2 .right {
  position: absolute;
  top: 250px;
  left: 55%;
  width: 400px;
  height: 330px;
}
.pc .section2 .right .p1 {
  font-size: 46px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.pc .section2 .right .p2 {
  width: 300px;
  font-size: 30px;
  letter-spacing: 6px;
  color: #666;
}
.pc .section2 .right .btn {
  display: block;
  width: 230px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  background: #54DDB6;
  border-radius: 30px;
  margin-top: 50px;
}
.pc .section3 {
  width: 100%;
  height: 100vh;
  background: url("../images/pc/bg3.png") no-repeat center top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.pc .section3 .left {
  position: absolute;
  width: 410px;
  height: 490px;
  top: 170px;
  right: 50%;
}
.pc .section3 .left .pic {
  width: 410px;
}
.pc .section3 .left .play {
  position: absolute;
  width: 57px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  cursor: pointer;
}
.pc .section3 .right {
  position: absolute;
  width: 653px;
  top: 150px;
  left: 55%;
}
.pc .section3 .danmu {
  position: absolute;
}
.pc .section3 .danmu1 {
  width: 411px;
  top: 120px;
  right: 60vw;
}
.pc .section3 .danmu2 {
  width: 472px;
  top: 200px;
  right: 65vw;
}
.pc .section3 .danmu3 {
  width: 285px;
  top: 360px;
  right: 30vw;
}
.pc .section3 .danmu4 {
  width: 425px;
  top: 460px;
  right: 10vw;
}
.pc .section3 .danmu5 {
  width: 445px;
  top: 540px;
  right: 30vw;
}
.pc .section3 audio {
  position: absolute;
  left: -1000px;
}
.pc .section4 {
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.pc .section4 .left {
  width: 410px;
  height: 336px;
  position: absolute;
  right: 54%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pc .section4 .left .p1 {
  font-size: 46px;
  letter-spacing: 5px;
  float: right;
}
.pc .section4 .left .p2 {
  font-size: 30px;
  color: #666;
  letter-spacing: 6px;
  float: right;
  margin: 20px 0 70px 0;
}
.pc .section4 .left .btn {
  float: right;
  width: 230px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  background: #72D4CF;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1.33px;
}
.pc .section4 .pic {
  width: 36vw;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: left 1.5s linear;
}
.pc .section5 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.pc .section5 .pic {
  width: 29.2vw;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 50%;
  animation: right 2s linear;
}
.pc .section5 .right {
  width: 360px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 52%;
}
.pc .section5 .right .p1 {
  font-size: 46px;
  letter-spacing: 5px;
}
.pc .section5 .right .p2 {
  font-size: 30px;
  letter-spacing: 6px;
  color: #666;
  width: 340px;
  margin-top: 20px;
}
.pc .section5 .circle {
  position: absolute;
  width: 105px;
  right: 295px;
  bottom: 70px;
}
.pc .section6 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#85EEB2, #C5F38E);
  position: relative;
}
.pc .section6 img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.pc .section6 img.pic1 {
  width: 25vw;
  top: 60px;
}
.pc .section6 img.pic2 {
  width: 47vw;
  top: 0;
  bottom: 0;
}
.pc .section6 img.pic3 {
  width: 400px;
  bottom: 60px;
}
/*动画*/
@keyframes down {
  0% {
    transform: translate(0, -200px);
  }
}
@keyframes left {
  0% {
    transform: translate(200px, 0);
  }
}
@keyframes right {
  0% {
    transform: translate(-200px, 0);
  }
}
/*移动端*/
.phone .section1 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #4AD38A, #99E699);
  position: relative;
}
.phone .section1 .con {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.phone .section1 a {
  width: 9.25rem;
  height: 2rem;
  bottom: 3rem;
  background: blue;
}
.phone .section1 .pic1 {
  position: absolute;
  width: 1.85rem;
  height: 1.85rem;
  left: 1.5rem;
  top: 2rem;
}
.phone .section1 .pic2 {
  width: 100%;
  top: 3.75rem;
}
.phone .section1 .pic3 {
  width: 100%;
  top: 11rem;
}
.phone .section1 .pic4 {
  width: 12rem;
  bottom: 6.4rem;
}
.phone .section2 {
  position: relative;
}
.phone .section2 img {
  width: 100%;
}
.phone .section2 .text {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 2rem;
  width: 13.725rem;
  height: 8.525rem;
  text-align: center;
}
.phone .section2 .text a {
  display: inline-block;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  background: #54DDB6;
  text-align: center;
  line-height: 2rem;
  font-size: 0.75rem;
  color: #fff;
}
.phone .section3 {
  text-align: center;
}
.phone .section3 .img1 {
  width: 100%;
}
.phone .section3 .img2 {
  width: 91%;
}
.phone .section3 .img3 {
  margin-top: 1rem;
  width: 56.4%;
}
.phone .section3 a {
  display: block;
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  background: #72D4CF;
  color: #fff;
  letter-spacing: 1.67px;
  border-radius: 1rem;
  margin: 2rem auto;
}
.phone .section3 .img4 {
  width: 74.6%;
}
.phone .section3 .img5 {
  display: block;
  width: 8.925rem;
  margin-left: 1.5rem;
  margin-bottom: 4rem;
}
.phone .section4 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #85EEB2, #C5F38E);
  position: relative;
}
.phone .section4 .con {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.phone .section4 .pic1 {
  width: 6.45rem;
  top: 2.25rem;
}
.phone .section4 a {
  top: 6.125rem;
  width: 6.25rem;
  height: 1.85rem;
  background: #54DDB6;
}
.phone .section4 .pic2 {
  width: 100%;
  top: 0;
  bottom: 0;
}
.phone .section4 .pic3 {
  width: 11.125rem;
  bottom: 3rem;
}
